@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  /* background-color: white; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*Below is the root, which will be targeting the slider.jsx component*/
:root {
  --main-color: rgb(104, 117, 217);
  --main-color-hover: rgb(104, 117, 217, 0.2);
  --track-color: #ddd;
}

.customSlider {
  /* max width of your slider */
  max-width: 300px;
  /* Optional: Only If you want to center your slider in the page */
  margin: auto;
}

.customSlider-track {
  /* Top value to align your track to the center of your thumb */
  top: 8px;
  /* thickness of the track */
  height: 4px;
 /* default color of your track */
  background: var(--track-color);
}

.customSlider-track.customSlider-track-0 {
  /* color of the track before the thumb */
  background: var(--main-color);
}
/*END OF THE SLIDER CSS FROM ABOVE*/
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: yellow;
  border-color: black;
}

@font-face {
  font-family: "Bold";
  src: url(assets/fonts/Satoshi-Bold.otf) format("opentype");
}
@font-face {
  font-family: "LightSatoshi";
  src: url(assets/fonts/Satoshi-Light.otf) format("opentype");
}

@font-face {
  font-family: "Black";
  src: url(assets/fonts/Satoshi-Black.otf) format("opentype");
}
